*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noto-serif-uniquifier {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* all */
.dark{
  color: #8987A1;
}
.black{
  color: black;
  font-weight: 600;

}
.text-body{
  max-width: 1140px;
  margin: 30px auto;
  margin-top: 30px;
  
}
.all-color{
  color: #E95A08;
}
/* nav decoration */

.text-nvbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crat{
  display: flex;
  align-items: center;
  gap: 6px;
  
}
.crat img{
  width: 1.3rem;
  height: 1.5rem;
}
.maunu{
  display: flex;
  gap: 48px ;
}
.maunu a{
  text-decoration: none;
}
/* Banner setion */
.banner{
  max-width: 1140px;
  margin: 120px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:"banner-text img" ; 
  align-items: center;
  gap: 20px;
}
 .banner-text{
  grid-area: banner-text;
}
.img{
  grid-area: img;
} 
.img img{
  width: 100%;
  height: 100%;
  
}
.banner-hed{
  font-weight: bold;
  font-size: 4.06rem;
}
.banner-paging{
  color: #8987A1;
  font-size: 1.2rem;
  margin-top: 20px;
}
/* setion-1 */
.mine-1{
  max-width: 1140px;
  margin: 120px auto 0;
}
.hade-1{
  font-weight: bold;
  font-size: 3.125rem;
}
.text-mine-1{
  color: #8987A1;
  font-size: 1.2rem;
  max-width: 888px;
  margin: 0 auto;
}
.text-setion{
  text-align: center;
}
.contener{
   display: grid;
  grid-template-columns: repeat(4, 1fr); 
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}
.card{
  text-align: center;
}
.card img{
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}

.card-usd{
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 30px;
}
.card-lily{
  font-weight: 300px;
  font-size: 1.3rem;
}
.btun{
  padding: 19px 80px;
  background-color: #E95A08;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ffff;
}
/* section-2 */
.section-2{
  max-width: 1140px;
  margin: 204px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text-img section-2-text";  
}
.text-img{
  grid-area: text-img;
}
.section-2-text{
  grid-area: section-2-text;
}
.Flower-setion-2{
  font-weight: bold;
  font-size: 3.1rem;
  margin-bottom: 20px;
}
.section-2-text{
  padding: 38px 0px 38px 60px;
  align-items: center;
  
}

.section-2-text li{
  font-size: 22px;
  color: #8987A1;
  margin-bottom: 20px;
  margin-left: 30px;
  
}
.clang{
  position: absolute;
  max-width: 286px;
  height: 286px;
  margin-left: 338px;
  margin-top: -717px;
  z-index: 2;
}
.section-2-text ul li{
  row-gap: 20px;
}
/* setion-3 */
 .setion-3{
  text-align: center;
  margin-top: 143px;
  margin-bottom: 51px;
}
.setion-3-hading{
  font-weight: bold;
  font-size: 3.1rem;
}
.cilir-3{
  color: #E95A08;
}
.pading-3{
  color: #8987A1;
font-size: 1.25rem
}

/* setion-4 */

.setion-4{
   background-image: url("../assets/news-letter-bg.png");
   background-size: cover;
  background-position: center;
  height: 533px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 .text-form{
  background-color: #ffff;
  padding: 15.5px  15.5px ;
  border: none;
  padding-right: 530px;
  padding-left: 20px;
  
}
.btun-2{
  padding: 15.5px 53px;
  color: white;
  background-color: #E95A08;
  border: none;
  margin-left: -3px;
} 
.hading-4{
  font-weight: bold;
  font-size: 3.1rem;
  color: white;
  margin-bottom: 23px;
} 
/* footer setion */
.fooet-contener{
  width: 1140px;
  margin: 50px auto;
  display: grid;
   grid-template-areas: "footer-head footer-link-1 footer-link-2 img"; 
  justify-content: space-between;
  
}
  .footer-head{
  grid-area: footer-head;
}
.footer-link-1{
  grid-area: footer-link-1;
}
.footer-link-2{
  grid-area: footer-link-2;
}
.img-2{
  grid-area: img;
}  
.footer-link-1 a{ 
  text-decoration: none;
  display: block;
  margin-bottom: 32px;
  color: #8987A1;
}
.footer-link-2 a{
  text-decoration: none;
  display: block;
  margin-bottom: 32px;
  color: #8987A1;
}
.footer-pading{
  color: #8987A1;
  font-size: 1.3rem;
}
.img-2 img{
  width: 36px;
  height: 36px;
  margin-left: 24px;
}


@media screen and (max-width: 576px) {
    .maunu a {
    display: none;
  }
  .banner{
    display: grid;
    grid-template-areas:
     "img"
     "banner-text"
     ;
     grid-template-columns: 1fr;
     margin-top: 60px;
     margin-left: 20px;
  } 
  .banner-hed{
    font-size: 2rem;
  }
  .banner-paging{
    font-size: 1rem;
    padding: 0 10px;
  }
  /* setion-1 */
  .contener{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }
  .btun{
    padding: 26px 50px;
    font-size: 16px; 
  }
  .text-mine-1{
    font-size: 0.8rem;
    padding: 16px 28px 0px 28px;
  }
  .hade-1{
    font-size: 1.5rem;
  }
   .card-lily{
    font-size: 1rem;
  }
  .card-usd{
    font-weight: bold;
    font-size: 1rem;
  }
  .btun{
    font-size: 1rem;
  }
  /* setione-2 */
  .section-2{
    display: grid;
    grid-template-areas: 
    "text-img"
    "section-2-text"
    ;
    grid-template-columns: 1fr;
    margin-top: 41px;
    
  }
  .text-img img{
    width: 95%;
    margin-left: 20px;
  }
  .Flower-setion-2{
    font-size: 1.5rem;
    
  }
  .section-2-text{
    padding-left: 20px;
  }
  .clang{
    display: none;
  }
  .section-2-text li{
    font-size: 14px;
  }
 
  /* setion-3 */
  .br-3{
    display: none;
  }
  .pading-3{
    font-size: 0.8rem;
    padding: 16px 28px 0px 28px;
  }
  .setion-3-hading{
    font-size: 1.5rem;
  }
  .text-form{
    padding-right: 114px;
  }
  .btun-2{
    padding: 15px 12px;
  }
  /* setion hard */
  
  /* siteon-4 */
  .setion-4{
    height: 276px;
  }
  .hading-4{
    font-size: 1.25rem;
  }
  /* foooter-setion */
  .fooet-contener{
    display: grid;
     grid-template-areas:
    "footer-head"
    "footer-link-1"
    "footer-link-2"
    "img"
    ;
    grid-template-columns: 1fr; 
    
    
    margin-left: 20px;
    width: auto;
  }
  .footer-pading{
    font-size: 1rem;
  }
  .footer-link-1{
    margin-top: 24px;
  }
  
  

}

/* setion hard */
 .mine-contener-hard{
    width: 1140px;
    margin: 120px auto;
    display: grid;
     grid-template-areas:
     "img-hard-one img-hard-one img-hard-three";
    grid-template-columns: 1fr 1fr; 
    
  }
  .img-hard-one{
    background-image: url("../assets/deal-ana.png");
    background-repeat: no-repeat;
    width: 367px;
    height: 199px;
    margin-bottom: 25px;
    border-radius: 10px;
    grid-area: img-hard-one;
  }
 
  .img-hard-three{
   
  } 
  .img-hard-two{
    background-image: url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    width: 367px;
    height: 199px;
    border-radius: 10px;
    grid-area: img-hard-two;
  }
  .img-hard-three{
    background-image: url("../assets/deal-zabo.png");
    width: 753px;
    height: 423px;
    margin-left: 28px;
    border-radius: 10px;
    grid-area: img-hard-three;
  } 
  .card-2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hard-in{
    text-align: center;
  }
  .hard-pading{
    color: white;
    text-decoration: underline;
  }
  .hard-hading{
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  .hard-hading-1{
    font-weight:bold ;
    font-size: 2.5rem;
    color: white;
  }
  .hard-pading-1{
    color: white;
    text-decoration: underline;
    font-size: 1.75rem;
  }
    
  @media screen and (max-width: 576px) {
     .mine-contener-hard{
    display:grid;
     grid-template-areas:
    "img-hard-one" 
    "img-hard-one"
    "img-hard-three"

    ;
     grid-template-columns: 1fr;
      
     width: 100%; 
    
   }
   .hard-conttener{
    flex-direction: column;
   }
   .img-hard-one, 
    .img-hard-one,
    .img-hard-three {
      width: 100%;
      height: 172px;
      margin: 25px auto;
      
    }
    .img-hard-three{
      margin-top: 25px;
      width: 367px;
      height: 199px;
      margin: 25px auto;
    }
    .hard-conttener{
      margin: 0 auto;
    }
    .hard-hading-1{
      font-size:1.25rem ;
    }
    .hard-pading-1{
      font-size: 1rem;
    }
    
  }