*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noto-serif-uniquifier {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* all */
.dark{
  color: #8987A1;
}
.black{
  color: black;
  font-weight: 600;

}
.text-body{
  max-width: 1140px;
  margin: 30px auto;
  margin-top: 30px;
  
}
.all-color{
  color: #E95A08;
}
/* nav decoration */

.text-nvbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crat{
  display: flex;
  align-items: center;
  gap: 6px;
  
}
.crat img{
  width: 1.3rem;
  height: 1.5rem;
}
.maunu{
  display: flex;
  gap: 48px ;
}
.maunu a{
  text-decoration: none;
}
/* Banner setion */
.banner{
  max-width: 1140px;
  margin: 120px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:"banner-text img" ; 
  align-items: center;
  gap: 20px;
}
 .banner-text{
  grid-area: banner-text;
}
.img{
  grid-area: img;
} 
.img img{
  max-width: 100%;
  height: auto;
}
.banner-hed{
  font-weight: bold;
  font-size: 4.06rem;
}
.banner-paging{
  color: #8987A1;
  font-size: 1.2rem;
  margin-top: 20px;
}
/* mine-1 */
.mine-1{
  max-width: 1140px;
  margin: 120px auto 0;
}
.hade-1{
  font-weight: bold;
  font-size: 3.125rem;
}
.text-mine-1{
  color: #8987A1;
  font-size: 1.2rem;
  max-width: 888px;
  margin: 0 auto;
}
.text-setion{
  text-align: center;
}
.contener{
 
   display: grid;
  grid-template-columns: repeat(4, 1fr); 
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}
.card{
  text-align: center;
}
.card img{
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}

.card-usd{
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 30px;
}
.card-lily{
  font-weight: 300px;
  font-size: 1.3rem;
}
.btun{
  padding: 19px 80px;
  background-color: #E95A08;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ffff;
}
/* section-2 */
.section-2{
  max-width: 1140px;
  margin: 204px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text-img section-2-text";
  
  

  
}
.text-img{
  grid-area: text-img;
}
.section-2-text{
  grid-area: section-2-text;
}
.Flower-setion-2{
  font-weight: bold;
  font-size: 3.1rem;
  margin-bottom: 20px;
}
.section-2-text{
  padding: 38px 0px 38px 60px;
  align-items: center;
  
}
.text-img img{
  
   
   
  
}
.section-2-text li{
  font-size: 22px;
  color: #8987A1;
  margin-bottom: 20px;
  margin-left: 30px;
  
}
.clang{
  position: absolute;
  max-width: 286px;
  height: 286px;
  margin-left: 338px;
  margin-top: -717px;
  z-index: 2;
}
.section-2-text ul li{
  row-gap: 20px;
}
 @media screen and (max-width:576px){
  .maunu a {
    display: none;
  }
  .banner{
    display: grid;
    grid-template-areas:
     "img"
     "banner-text"
     ;
     grid-template-columns: 1fr;
     margin-top: 60px;
     margin-left: 20px;
  } 
  .banner-hed{
    font-size: 2rem;
  }
  .banner-paging{
    font-size: 1rem;
    padding: 0 10px;
  }
  .contener{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }
  .btun{
    padding: 26px 50px;
    font-size: 16px; 
  }
  
  .section-2{
    display: grid;
    grid-template-areas: 
    "text-img"
    "section-2-text"
    ;
    grid-template-columns: 1fr;
    margin-top: 41px;
    align-items: center;
  }
  .text-img img{
    width: 96%;
    margin-left: 20px;
  }
  .Flower-setion-2{
    font-size: 1.5rem;
  }
  .clang{
    display: none;
  }
  .section-2-text li{
    font-size: 14px;
  }
   
 }